body {
    background-color: #EFEFEF;
  }

.footer {
    background-color: #222D3C;
}

.page-footer {
    background-color: #222D3C;
}
  
.bookscover {
    width: 150px;
    height: 200px;
}

.bookscards {
    margin: auto;
}

.card-title {
    color: lightgray;
}

.titleDetails {
    font-weight: bold;
}

.text-danger {
    color: red;
}

.bookscovertob {
    width : 200px;
    height: 300px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.typeswithbooks {
    margin-top: 100px;
}